@font-face {
  font-family: 'Technology';
  src: url('/fonts/Technology.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-technology {
  font-family: 'Technology', sans-serif;
}

