@font-face {
  font-family: 'Technology';
  src: url('/fonts/Technology.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-technology {
  font-family: 'Technology', sans-serif;
}

:root {
  --w3m-color-fg-1: #2c1466;
  --w3m-color-fg-2: #693c89;
  --w3m-color-fg-3: #a7488f;
  --w3m-color-bg-1: #f1a5c6;
  --w3m-color-bg-2: #fffbf8;
  --w3m-color-bg-3: #fbe9d5;
  --w3m-accent-color: #2c1466;
  --w3m-accent-fill-color: #fbe9d5;
  --w3m-z-index: 100;
  --w3m-background-color: #f1a5c6;
  --w3m-background-border-radius: 0.5rem;
  --w3m-container-border-radius: 0.5rem;
  --w3m-wallet-icon-border-radius: 0.5rem;
  --w3m-wallet-icon-large-border-radius: 0.5rem;
  --w3m-wallet-icon-small-border-radius: 0.5rem;
  --w3m-input-border-radius: 0.5rem;
  --w3m-button-border-radius: 0.5rem;
  --w3m-notification-border-radius: 0.5rem;
}

.dark {
  --w3m-color-fg-1: #f4dad6;
  --w3m-color-fg-2: #e44e92;
  --w3m-color-fg-3: #a7488f;
  --w3m-color-bg-1: #2c1466;
  --w3m-color-bg-2: #1a0d3d;
  --w3m-color-bg-3: #0f0729;
  --w3m-accent-color: #f4dad6;
  --w3m-accent-fill-color: #2c1466;
  --w3m-background-color: #1a0d3d;
}

.w3m-button-wrapper {
  --w3m-accent-fill-color: #2c1466;
  --w3m-accent-color: #fbe9d5;
}

.dark .w3m-button-wrapper {
  --w3m-accent-fill-color: #f4dad6;
  --w3m-accent-color: #2c1466;
}
